@model MHC_Hospital_Redesign.Models.ViewModels.UpdateListing
@{
    ViewBag.Title = "Edit";
}

    <h2>Update @Model.SelectedListing.ListTitle</h2>

    <form action="/Listing/Update/@Model.SelectedListing.ListID" method="POST">
        <input type="number" style="display:none" name="ListID" value="@Model.SelectedListing.ListID" />
        <input type="number" style="display:none" name="DepartmentID" value="@Model.SelectedListing.DepartmentID" />
        <div>
            <label for="ListTitle">Title:</label>
            <input type="text" name="ListTitle" value="@Model.SelectedListing.ListTitle" data-val="true" data-val-required="Please enter a listing title." />
            @Html.ValidationMessageFor(model => model.SelectedListing.ListTitle, "", new { @class = "text-danger", data_valmsg_for = "ListTitle" })
        </div>
        <div>
            <label for="ListDate">Date:</label>
            <input type="date" name="ListDate" value="@System.DateTime.Now" data-val="true" data-val-required="Please enter a date." />
        </div>
        <div>
            <label for="ListLocation">Location:</label>
            <input type="text" name="ListLocation" value="@Model.SelectedListing.ListLocation" />
        </div>
        <div>
            <label>Department:</label>
            <select name="DepartmentID">
                @foreach (var dept in Model.DeptOptions)
                {
                    <option value="@dept.DId">@dept.DepartmentName</option>
                }
            </select>
        </div>
        <div>
            <label for="ListDescription">Description:</label>
            <textarea name="ListDescription" value="@System.DateTime.Now" data-val="true" data-val-required="Please enter a date.">@Model.SelectedListing.ListDescription</textarea>
            @Html.ValidationMessageFor(model => model.SelectedListing.ListDescription, "", new { @class = "text-danger", data_valmsg_for = "ListDescription" })
        </div>
        <div>
            <label for="ListRequirements">Requirements:</label>
            <textarea name="ListRequirements">@Model.SelectedListing.ListRequirements</textarea>
        </div>
        <div class="list-nav">
            <a href="/Listing/Details/@Model.SelectedListing.ListID" class="btn btn-danger">Cancel</a>
            <input type="submit" value="Update Listing" class="btn btn-primary" />
        </div>

    </form>
